@layer tokens {
    @keyframes spin {
        to {
            transform: rotate(360deg)
        }
    }
    @keyframes ping {
        75%, 100% {
            transform: scale(2);
            opacity: 0
        }
    }
    @keyframes pulse {
        50% {
            opacity: .5
        }
    }
    @keyframes bounce {
        0%, 100% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8,0,1,1)
        }
        50% {
            transform: none;
            animation-timing-function: cubic-bezier(0,0,0.2,1)
        }
    }
    @keyframes loadingSpin {
        100% {
            transform: rotate(360deg)
        }
    }
    @keyframes clipIn {
        0% {
            opacity: 0.3;
            clip-path: polygon(0 0, 10% 0, 0 10%)
        }
        100% {
            opacity: 1;
            clip-path: polygon(0 0, 200% 0, 0 200%)
        }
    }
    @keyframes buttonShiny {
        0% {
            background-position: 100% 100%
        }
        100% {
            background-position: 0 0
        }
    }
}