@layer reset, base, tokens, recipes, utilities;

html {
  background-color: #f3f0e8;
}
body {
  background: url(/images/bg.png) repeat 0 0 / 1920px auto;
  font-family: 'Averta PE', sans-serif;
}

/* FONTS */

@font-face {
  font-family: 'Averta PE';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/AvertaPE-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Averta PE';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/AvertaPE-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Averta PE';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/AvertaPE-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Recoleta-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Recoleta-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Recoleta-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Recoleta-Bold.otf') format('opentype');
}
